.event{
    position: relative;
    border: 2px dashed black;
    padding: 8px;
    border-radius: 4px;
}

.title{
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: blue;
    font-size: 16px;
}

.chip{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
}

.free{
    background-color: aqua;
}

.paid{
    background-color: red;
}