.booksList {
    padding: 0 15px;
    margin: 0;
    display: grid;
    grid-template-columns: 212px 212px 212px;
    justify-content: center;
    gap: 20px;
  }



  .header-link {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    text-decoration: none;
    margin-right: 15px;
  
    transition: all 0.3s;
  }
  
  .header-link.active {
    border: 1px solid white;
    background-color: black;
    color: white;
  }